<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FetchDocsApiKey" value="XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX" />
        <add key="FetchDocsApiUrl" value="http://localhost:8080/api/" />        
        <add key="FetchDocsAccountId" value="-1" />
    </appSettings>
</configuration>